<div class="panel panel-default">
  <div class="panel-heading">Комментарии к представлению</div>
  <div class="panel-body">
    Отображение всех объектов на карте. <br>
    Происходит группировка объектов.<br>
    <p style="color: red;">Существует большое число объектов без указанных координат</p>
  </div>
</div>
<div id="map" style="height: 600px"></div>
<div id="legend">
    <div class="row"><div style="height:10px; width:20px; background:#158B02; float: left; margin-top: 5px;"></div><div>Жилой дом</div></div>
    <div class="row"><div style="height:10px; width:20px; background:#A41DE2; float: left; margin-top: 5px;"></div><div>Дошкольное образовательное учреждение</div></div>
    <div class="row"><div style="height:10px; width:20px; background:#E666DD; float: left; margin-top: 5px;"></div><div>Блок начальных классов</div></div>
    <div class="row"><div style="height:10px; width:20px; background:#E03632; float: left; margin-top: 5px;"></div><div>Школа</div></div>
    <div class="row"><div style="height:10px; width:20px; background:#0A6CC8; float: left; margin-top: 5px;"></div><div>Физкультурно-оздоровительный комплекс</div></div>
    <div class="row"><div style="height:10px; width:20px; background:#143A6B; float: left; margin-top: 5px;"></div><div>Переход</div></div>
</div>
<script src="http://api-maps.yandex.ru/2.0.18/?load=package.standard,package.clusters&lang=ru-RU" type="text/javascript"></script>
<script>


points = [];
var myMap;
ymaps.ready(function () {
    yamaps_ready_function();
    filter_map_points();
});
ymaps.ready(init_map_all_object);

filter_map_points = function(){
    points.length = 0;
    $.each(filteredObjects, function(i, val){
        //console.log(val.appointment);
        if (val.lat != null && val.lng != null)
            points.push(new ymaps.Placemark([val.lat,val.lng], {
                name: "Объект №012-0896",
                clusterCaption: 'Объект №012-0896',
                balloonContentBody: "<div><a href='/object/view?id="+val.id+"'>"+val.adress+"</a></div>"+
                        "<div> <b> Мощность: </b>"+val.power+" "+val.power_measure+"</div>"+
                        "<div> <b> Срок ввода по АИП: </b>"+val.year+"</div>",
                balloonContentFooter: 'Карточка объекта: <a target="_blank" href="/object/view?id='+val.id+'">открыть</a>'
            },	{
                preset: MarkersApointmentColours[val.appointment]
            }))
    })
}

//    addMarker = function (object){
//        if (object.lat == null || object.lng == null)
//        return;
//        var marker = new ymaps.GeoObject({
//            geometry: {
//                type: "Point",
//                coordinates: [object.lat,object.lng],
//                options:{
//                    preset: 'islands#redIcon'
//                }
//            }
//        });
//
//        marker.options.preset = 'islands#redIcon'
//        markers.push(marker);
//        //console.log(marker);
//    }
//
//
//
//    function getPopupContent(id, adr, power, edIzm, AIP, kontrakt, invest)
//    {
//        return "<div><a href='/object/view?id="+id+"'>"+adr+"</a></div>"+
//                "<div> <b> Мощность: </b>"+power+" "+edIzm+"</div>"+
//                "<div> <b> Срок ввода по АИП: </b>"+AIP+"</div>"
//                //"<div> <b> Срок ввода по контракту: </b>"+kontrakt+"</div>"+
//                //"<div> <b> Предельный объем инвестиций: </b>"+invest+" млн </div>"
//    }



</script>
