<div class="panel panel-default">
  <div class="panel-heading">Комментарии к представлению</div>
  <div class="panel-body">
    Отображение всех объектов на карте. <br>
    Происходит группировка объектов.<br>
    <p style="color: red;">Существует большое число объектов без указанных координат</p>
  </div>
</div>
<div id="map" style="height: 600px"></div>
<script src="http://api-maps.yandex.ru/2.0.18/?load=package.standard,package.clusters&lang=ru-RU" type="text/javascript"></script>
<!--<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>-->
<!--<script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>-->
<script>


//    var map, marker, cluster;
//    var markers = [];
//    init_map = function (){
//        map = new ymaps.Map("map", {
//            center: [55.75,37.609],
//            zoom: 10,
//            controls: ['smallMapDefaultSet']
//        });
//        map.controls.remove('fullscreenControl');
//        map.controls.remove('geolocationControl');
//        map.controls.remove('searchControl');
//        map.controls.remove('typeSelector');
//        cluster = new ymaps.Clusterer();
//        $.each(data['objects'], function(i, val){
//            addMarker(val);
//        })
//        cluster.add(markers);
//        map.geoObjects.add(cluster);
//    };



points = [];
var myMap;
ymaps.ready(function () {
    yamaps_ready_function();
    filter_map_points();

});
ymaps.ready(init_map_all_object);

filter_map_points = function(){
    points.length = 0;
    $.each(filteredObjects, function(i, val){
        //console.log(val.appointment);
        if (val.lat != null && val.lng != null)
            points.push(new ymaps.Placemark([val.lat,val.lng], {
                name: "Объект №012-0896",
                clusterCaption: 'Объект №012-0896',
                balloonContentBody: "<div><a href='/object/view?id="+val.id+"'>"+val.adress+"</a></div>"+
                        "<div> <b> Мощность: </b>"+val.power+" "+val.power_measure+"</div>"+
                        "<div> <b> Срок ввода по АИП: </b>"+val.year+"</div>",
                balloonContentFooter: 'Карточка объекта: <a target="_blank" href="/object/view?id='+val.id+'">открыть</a>'
            },	{
                preset: MarkersApointmentColours[val.appointment]
            }))
    })
}

//    addMarker = function (object){
//        if (object.lat == null || object.lng == null)
//        return;
//        var marker = new ymaps.GeoObject({
//            geometry: {
//                type: "Point",
//                coordinates: [object.lat,object.lng],
//                options:{
//                    preset: 'islands#redIcon'
//                }
//            }
//        });
//
//        marker.options.preset = 'islands#redIcon'
//        markers.push(marker);
//        //console.log(marker);
//    }
//
//
//
//    function getPopupContent(id, adr, power, edIzm, AIP, kontrakt, invest)
//    {
//        return "<div><a href='/object/view?id="+id+"'>"+adr+"</a></div>"+
//                "<div> <b> Мощность: </b>"+power+" "+edIzm+"</div>"+
//                "<div> <b> Срок ввода по АИП: </b>"+AIP+"</div>"
//                //"<div> <b> Срок ввода по контракту: </b>"+kontrakt+"</div>"+
//                //"<div> <b> Предельный объем инвестиций: </b>"+invest+" млн </div>"
//    }



</script>
