<script src="http://code.highcharts.com/highcharts.js"></script>
<select id="organization_select" style="width: 350px">
  <option></option>
</select>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-2 control-label">Телефон</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="tel"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="email"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Адрес</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="address"></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Генеральный директор</label>
    <div class="col-sm-10">
      <p class="form-control-static" id="FIO"></p>
    </div>
  </div>
</form>
<h3>Объекты</h3>
<table class="table table-condensed">
  <thead>
  <tr>
    <th rowspan="2">#</th>
    <th rowspan="2">Округ</th>
    <th rowspan="2">Год ввода</th>
    <th rowspan="2">Адрес</th>
    <th rowspan="2">Текуший статус</th>
    <th rowspan="2">Сумма контракта</th>
    <th colspan="3" style="text-align: center">Динамика</th>
  </tr>
  <tr>
    <th>Сети</th>
    <th>СМР</th>
    <th>Отделка</th>
  </tr>
  </thead>
  <tbody id="body_table">

  </tbody>
</table>
<div id="fin_chart" style="width: 1000px; height: 500px"></div>
<div id="work_chart" style="width: 1000px; height: 500px"></div>

<h3>Торги</h3>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Тип</th>
    <th>Дата окончания</th>
    <th>Цена начальная</th>
    <th>Цена конечная</th>
    <th>%↓</th>
    <th>Заявок подано/допущено</th>
  </tr>
  </thead>
  <tbody id="body_table_tenders">

  </tbody>
</table>

<script type="application/javascript">

    current_organization = null;
    organization_selected = function (evt, p)
    {
        //console.log($(this), evt, p);
        current_organization = organization_find(p.selected);
        //console.log(current_organization);
        bindContactInfo (current_organization);
        bind_tables();
        create_fin_chart(current_organization.payed_left, current_organization.payed, current_organization.avans_pogasheno, current_organization.avans_ne_pogasheno);
        create_work_chart(current_organization.work_complete, current_organization.work_left);
    };

    bindContactInfo = function (org){
        $('#tel').text(org.phone)
        $('#email').text(org.email)
        $('#FIO').text(org.FIO)
        $('#address').text(org.address)
    }

    organization_find = function (id){
        var res = null;
        $.each(organizations, function(i, val){
            if (val.id+"" == id){res = val}
        });
        return res;
    }

    function compare_objects_by_year(a,b) {
        if (a.year < b.year)
            return -1;
        if (a.year > b.year)
            return 1;
        return 0;
    }

    bind_tables = function(){
        var table = document.getElementById('body_table');
        $(table).html('');
        num = 0;
        var objects = current_organization.objects.sort(compare_objects_by_year)
        $.each(objects, function(i, val){
            var row = document.createElement('tr');
            if (val.internal_delay!=0 || val.constructive_delay!=0 || val.network_delay!=0)
                $(row).addClass('danger');
            row.innerHTML = "<td>"+(i+1)+"</td><td>"+val.region+"</td>"+
                    "<td>"+val.year+"</td>"+
                    "<td>"+get_url_for_object_view(val.id, val.address)+"</td>"+
                    "<td>"+val.status+"</td>"+
                    "<td>"+thousands_sep(val.contract_sum)+" ₽</td>"+
                    "<td>"+val.network+'/'+val.network_delay+"</td>"+
                    "<td>"+val.constructive+'/'+val.constructive_delay+"</td>"+
                    "<td>"+val.internal+'/'+val.internal_delay+"</td>";
            table.appendChild(row);
        })
        var tenders_table = document.getElementById('body_table_tenders');
        $(tenders_table).html('');
        $.each(current_organization.tenders, function(i, val){
            var row = document.createElement('tr');
            date = new Date(val.DataFinish);
            row.innerHTML = "<td>"+val.TenderSName+"</td>"+
                    "<td>"+date.getDate()+"-"+date.getMonth()+"-"+date.getFullYear()+"</td>"+
                    "<td>"+thousands_sep(val.TenderPriceBegin)+" ₽</td>"+
                    "<td>"+thousands_sep(val.TenderPriceEnd.toFixed(0))+" ₽</td>"+
                    "<td>"+val.TenderProcentDecline.toFixed(2)+"</td>"+
                    "<td>"+val.TenderQtyPresent+"/"+val.TenderQtyAccept+"</td>";
            tenders_table.appendChild(row);
        })
    }

    get_url_for_object_view = function (id, adr){
        return "<a href='view?id="+id+"' >"+adr+"</a>"
    }
    insert_organizations_in_select = function ()
    {
        select = document.getElementById('organization_select');
        $.each(organizations, function(i, val){
            var opt = document.createElement('option');
            opt.value = val.id;
            opt.innerHTML = val.name;
            select.appendChild(opt);
        });
    }

    $(function () {

        insert_organizations_in_select();
        $("#organization_select").chosen({no_results_text: "Ой, ничего не найдено!", placeholder_text_single: "Выберите организацию"});
        $("#organization_select").chosen().change(organization_selected);
    });



    organizations = <%= @organizations.to_json.html_safe %>
    create_fin_chart = function(payed_left, payed, avans_pogasheno, avans_ne_pogasheno ){
                // Build the chart
                fin_chart = new Highcharts.Chart({
                    credits:  {
                        enabled: false
                    },
                    chart: {
                        renderTo:'fin_chart',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Оплаты по контрагенту'
                    },
                    tooltip: {
                        formatter: function () {
                            var s ="";
                            $.each(this.series.points, function (i, point) {
                                s += "<b>"+point.name + '</b> ' + thousands_sep(point.y) + ' млн ₽ <br/>';
                            });
                            return s;
                        },
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        pie: {
                            center: ['50%', '50%'],
                            dataLabels: {
                                enabled: true
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Сумма',
                        innerSize: '50%',
                        data: [
                            ['Остаток оплаты', payed_left],
                            ['Авансов выдано и не погашено', avans_ne_pogasheno],
                            ['Аванасов выдано и погашено', avans_pogasheno],
                            ['Оплачено не в счет авансов', payed]

                        ]
                    }]
                });
            }

    create_work_chart = function(work_complete, work_incomlete){
        // Build the chart
        fin_chart = new Highcharts.Chart({
            credits:  {
                enabled: false
            },
            chart: {
                renderTo:'work_chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Выполнение работ по произведенным оплатам'
            },
            tooltip: {
                formatter: function () {
                    var s ="";
                    $.each(this.series.points, function (i, point) {
                        s += "<b>"+point.name + '</b> ' + thousands_sep(point.y) + ' млн ₽ <br/>';
                    });
                    return s;
                },
                shared: true,
                useHTML: true
            },
            plotOptions: {
                pie: {
                    center: ['50%', '50%'],
                    dataLabels: {
                        enabled: true
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Сумма',
                innerSize: '50%',
                data: [
                    ['Выполнено работ', work_complete],
                    ['Остаток выполнения', work_incomlete]


                ]
            }]
        });
    }

</script>