<div class="row">
  <div class="col-sm-4">
    <%= render "object/viewparts/single_obj_map" %>
  </div>
  <div class="col-sm-8">
    <h4> <%= @object.adress %> </h4>
    <%= render "object/viewparts/teps" %>
  </div>
</div>
<%= render "object/viewparts/ingeneer_statuses" %>
