<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Какая сумма по объектам определенного округа, назначения и года ввода уже оплачена?</li>
      <li>На какую сумму по объектам определенного округа, назначения и года ввода работы уже оплачены?</li>
      <li>Какую сумму по объектам определенного округа, назначения и года ввода осталось оплатить?</li>
    </ul>
    <i style="color: red">Данные реальные</i>
  </div>
</div>
<div class="row">
  <div id="fin_chart" style="width: 900px; height: 500px"></div>
</div>
