<div class="col-sm-6">
  <a href="/employee/vacancies" class="btn btn-default btn-lg btn-block">Кадры</a>
</div>
<div class="col-sm-6">
  <a href="/objects/index" class="btn btn-default btn-lg btn-block">Объекты</a>
</div>