<div class="col-sm-6">
  <a href="/employee/index" class="btn btn-default btn-lg btn-block">Кадры</a>
</div>
<div class="col-sm-6">
  <a href="/object/index" class="btn btn-default btn-lg btn-block">Объекты</a>
</div>