<div class="row main-buutons-row">
    <div class="col-sm-6">
      <a href="/employee/index" class="btn btn-default btn-lg btn-block">Кадры</a>
    </div>
    <div class="col-sm-6">
      <a href="/object/index" class="btn btn-default btn-lg btn-block">Объекты</a>
    </div>
</div>
<div class="row main-buutons-row">
    <div class="col-sm-6">
      <a href="/apartment/index" class="btn btn-default btn-lg btn-block">Продажи</a>
    </div>
  <div class="col-sm-6">
    <a href="/object/organizations" class="btn btn-default btn-lg btn-block">Подрядчики</a>
  </div>
</div>