<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="application/javascript">
  var selectAllObjects = function () {
      $.each($("#objects_filter input"), function(i , val){
          //console.log(val)
          $(val).prop('checked', true);
      });
      redrawChart();
  }

  var getRoomsFilter = function () {
    return ($("#rooms_filter > label.active").attr('id'))
  }

  var getObjectFilter = function () {
     var res = Array();
      $.each($("#objects_filter input:checked"), function(i , val){
          res.push($(val).attr("id"))
      })
      return res;
  }

  var createChart = function () {
      rooms_filter = getRoomsFilter();
      objects_filter = getObjectFilter();
      $('#apartment-status-chart').highcharts(status_chart);
  }

  var redrawChart = function () {
    setTimeout(function(){
        rooms_filter = getRoomsFilter();
        objects_filter = getObjectFilter();
        var chart = $('#apartment-status-chart').highcharts();
        $.each(chart.series, function(i, series){
            series.setData(getStatusData(series.name), false)
        });
        chart.yAxis[0].setTitle({
            text: current_status_data['y-axis-label']
        });
        chart.redraw();
    },100);
  }

  rooms_filter = "";
  objects_filter = [];

    var getStatusData = function (status){
      rooms_filter = getRoomsFilter();
      objects_filter = getObjectFilter();
      rooms_data = current_status_data[rooms_filter];
      res = [0,0,0,0,0];
      $.each(objects_filter, function(i, val){
          res = addArrays(res, rooms_data[val][status]);
      })
      return res;
    }

    var setNewValues = function () {
        //console.log($(this).parent().attr("data"))
        current_status_data = eval($(this).parent().attr("data"))
        redrawChart();
    }

  $(function(){
      //навешиваем обработчики
      $("#all-objects").on('click', selectAllObjects);
      $("#objects_filter input").change(redrawChart);
      $("#rooms_filter input").change(redrawChart);
      $("#value_filter input").change(setNewValues);

      status_chart={
          credits:  {
              enabled: false
          },
          title: {
              text: 'Статусы квартир'
          },
          xAxis: {
              categories: ['Неделя 1', 'Неделя 2', 'Неделя 3', 'Неделя 4', 'Неделя 5']
          },
          tooltip: {
              shared: true,
              formatter: function() {
                  var s = '<b>'+ this.x +'</b>';

                  $.each(this.points, function(i, point) {
                      s += '<br/>'+ point.series.name +': '+
                              point.y + " " + current_status_data['valueSuffix'];
                  });

                  return s;
              }
//              valueSuffix: 'млн рублей'
          },
          series: [{
              type: 'column',
              name: 'Забронировано',
              data: getStatusData("Забронировано")
          },{
              type: 'column',
              name: 'Объявлен аукцион',
              data: getStatusData('Объявлен аукцион')
          }, {
              type: 'column',
              name: 'Состоялся аукцион',
              data: getStatusData('Состоялся аукцион')
          }, {
              type: 'column',
              name: 'Подписан ДКП',
              data: getStatusData('Подписан ДКП')
          }, {
              type: 'column',
              name: 'Передано право собсвтенности',
              data: getStatusData('Передано право собсвтенности')
          }]
      };
      createChart();
  });
</script>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#statuses" role="tab" data-toggle="tab">Изменение статусов квартир</a></li>
  <li><a href="#avgm2" role="tab" data-toggle="tab">средняя стоимость м<sup>2</sup></a></li>
  <li><a href="#planfact" role="tab" data-toggle="tab">выполнение плана</a></li>
  <li><a href="#addprice" role="tab" data-toggle="tab">Добавочная стоимость</a></li>
  <li><a href="#financerealtor" role="tab" data-toggle="tab">Накопление финансов</a></li>
</ul>

<div class="row">
    <div class="tab-content col-sm-10">
        <%= render "apartment/charts/apartment_statuses" %>
    </div>
    <div class="col-sm-2" id="objects_filter">
        <div id="all-objects" class="btn btn-default btn-xs" style="margin-top: 40px">Все объекты</div>
        <div><input id="nekrasovka1" type="checkbox" checked> Некрасовка 1</div>
        <div><input id="nekrasovka2" type="checkbox" checked> Некрасовка 2</div>
        <div><input id="solncevo" type="checkbox" checked> Солнцево</div>
        <div><input id="basovskaya" type="checkbox" checked> Базовская</div>
        <div><input id="zelenograd" type="checkbox" checked> Зеленоград</div>
    </div>
</div>