<div class="col-sm-4 col-sm-offset-1">
  <div class="btn-group" data-toggle="buttons" id="rooms_filter">
    <label label-default="" id="all-rooms" class="btn btn-default active">
      <input name="options"  type="radio" checked="checked">Все
    </label>
    <label label-default=""  id="1-rooms" class="btn btn-default">
      <input name="options"  type="radio">1к
    </label>
    <label label-default=""  id="2-rooms" class="btn btn-default">
      <input name="options"  type="radio">2к
    </label>
    <label label-default="" id="3-rooms" class="btn btn-default">
      <input name="options"  type="radio">3к
    </label>
  </div>
</div>

