.form-vacancies .form-control{
  //background: black;
  height: 28px;
}

.form-vacancies .form-group{
  margin-bottom: 10px;
}

.form-vacancies .control-label{
  padding-left: 2px;
}
.form-dep-type .form-group{
  margin-bottom: 0px;
}
