<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Какого соотношение производственного персонала к управленческому и как оно изменятся по месяцам?</li>
    </ul>
  </div>
</div>
<div id="employee_type_personal" style="height: 600px"></div>
<script type="text/javascript">
    <%= render 'employee/charts/employee_type_personal.js'%>
</script>