<div class="panel panel-default" style="margin-top: 20px">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Каков ФОТ для всех сотрудников и из чего он складывается в каждом месяце?</li>
      <li>Какова средняя зарплата сотрудников? Как она изменяется со временем?</li>
    </ul>
    <i>Для отображения информации за какой-то конкретный месяц нажмите на название месяца</i>
    <ul>
      <li>Каков ФОТ для каждого отдела за какой-то месяц и их чего он склажывается?</li>
      <li>Какова среднаяя зарплата в каждом отделе за какой-то месяц?</li>
    </ul>
  </div>
</div>
<div id="salary_structure_chart" style="height: 600px; margin-bottom: 30px"></div>
<script type="application/javascript">
    <%= render 'employee/charts/employee_salary_structure_chart.js' %>
</script>