<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Сколько человек работало на предприятии в каждом месяце?</li>
      <li>Сколько вакансий/увольнений/принятых сотрудников было в каждом месяце?</li>
    </ul>
    <p style="color: red; text-transform: uppercase">Информация по количеству вакансий пока не вводится! </p>
  </div>
</div>
<div id="employee_situation_chart" style="height: 600px"></div>
<script type="text/javascript">
    <%= render 'employee/charts/employee_situation_chart.js' %>
</script>