<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Сколько сотрудников в каждом подразделении?</li>
      <li>Сколько вакансий в каждом подразделении?</li>
      <li>Кто руководитель отдела?</li>
    </ul>
  </div>
</div>

<div id="departmens_emplyees_situation" style="height: 600px"></div>
<script type="text/javascript">
    <%= render 'employee/charts/employee_departments_employees_situation.js'%>
</script>
