<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Какое количество АУП было в определенный месяц? Как оно изменяется?</li>
      <li>Каков ФОТ для АУП и из чего он складывается в каждом месяце?</li>
      <li>Какова средняя зарплата АУП? Как она изменяется со временем?</li>
    </ul>
  </div>
</div>
<div id="employee_manage_salary_structure_chart" style="height: 600px"></div>
<script type="text/javascript">
    <%= render 'employee/charts/employee_manage_salary_structure_chart.js'%>
</script>