<div id="salary_structure_chart" style="height: 600px; margin-bottom: 30px"></div>
<script type="application/javascript">
    <%= render 'employee/charts/employee_salary_structure_chart.js' %>
</script>