<div class="panel panel-default">
  <div class="panel-heading">Список вопросов, на которые отвечает график</div>
  <div class="panel-body">
    <ul>
      <li>Как изменяется со временем коэф. увольнений (число увольнений за месяц/средняя численность персонала)?</li>
      <li>Насколько неукомплектовано кадрами предприятие (вакансий/средняя численность персонала)?</li>
    </ul>
    <p style="color: red; text-transform: uppercase">Информация по количеству вакансий пока не вводится! </p>
  </div>
</div>
<div id="employee_koef_chart" style="height: 600px"></div>
<script type="text/javascript">
    <%= render 'employee/charts/employee_koef_chart.js'%>
</script>